@charset "utf-8";
.Lmargin {
	margin-left: 7px;
}
.Rmargin {
	margin-right: 7px;
}
.width_per {
	width: 100%;
}
.ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.block {
	display: block;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
#MHeader {
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #666666;
	display: none;
	z-index: 123;
}
.MTit {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	color: #FFF;
}
.MLogo {
	position: absolute;
}
.MLogo img {
	height: 40px;
}
.MNav {
	position: absolute;
	right: 0px;
	padding-top: 10px;
}
.MMenu_Drop {
	position: absolute;
	top: 40px;
	right: 0px;
	background-color: #000;
	display: none;
	padding: 10px;
}
.MMenu_Item {
	color: #FFF;
}
.MMenu_Tit_a {
	color: #FFF;
	line-height: 30px;
	text-align: center;
	display: block;
}
.MBg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	top: 40px;
	display: none;
	z-index: 122;
}
.MBg_ {
	display: block;
}
#Hold {
	height: 40px;
	display: none;
}
#I_MobBox {
	display: none;
}
#Sort {
	display: none;
	margin: auto;
	background-color: #0676cc;
	padding-top: 5px;
	padding-right: 2%;
	padding-bottom: 5px;
	padding-left: 2%;
}
#Sort a {
	color: #FFF;
	display: inline-block;
}
.MSubE, .MSubC {
	text-align: center;
	color: #009933;
}
.MSubE {
	font-size: 18px;
	padding-top: 22px;
}
.MSubC {
	font-size: 16px;
}
.MSubIco {
	background-color: #009933;
	height: 2px;
	width: 20px;
	overflow: hidden;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.MMenu_Drop {
	font-size: 14px;
}
.MMenu2_Drop {
	padding: 0 10px;
	display: none;
}
.MMenu2_Drop a {
	color: #fff;
}
.MMenu_Tit_a {
}
.I_MBlock {
	padding-bottom: 30px;
}
.I_MBlock_More {
	display: block;
	border: 1px solid #bdbdbe;
	color: #bdbdbe;
	text-transform: uppercase;
	width: 100px;
	text-align: center;
	margin-top: 7px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.MFangAn_Item {
	width: 100%;
	float: left;
}
.MFangAn_Item .block {
	position: relative;
}
.MFangAn_Tit {
	width: 100%;
	position: absolute;
	text-align: center;
	background: rgba(0,0,0,.3);
	bottom: 5px;
	color: #FFF;
	line-height: 22px;
}
.MPro_Item {
	width: 100%;
	float: left;
}
.MPro_Item .block {
	position: relative;
}
.MPro_Tit {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 35%;
	color: #FFF;
	line-height: 22px;
}
.MCase_Item {
	width: 50%;
	float: left;
}
.MCase_Item .block {
	position: relative;
}
.MCase_Tit {
	width: 100%;
	position: absolute;
	text-align: center;
	background: rgba(0,0,0,.3);
	bottom: 5px;
	color: #FFF;
	line-height: 22px;
}
.MDown_Item {
	width: 50%;
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.MDown_Item .block {
	position: relative;
}
.MDown_Tit {
	width: 100%;
	position: absolute;
	text-align: center;
	/*background: rgba(255, 255, 255, 0.8);*/
	bottom: 4px;
	color: #2b2b2b;
	line-height: 22px;
}
.MAbout_Intro {
	width: 96%;
	margin: auto;
}
.MAbout_List {
	padding-top: 30px;
}
.MAbout_Item {
	float: left;
	text-align: center;
	padding-bottom: 30px;
}
.MAbout_Pic {
	background: url(..\images\about_advan_li.png) no-repeat;
	height: 143px;
	width: 143px;
	margin-right: auto;
	margin-left: auto;
}
.MAbout_icon {
	display: block;
	background: url(..\images\icon.png) no-repeat;
	position: relative;
	left: 46px;
	top: 46px;
}
.MAbout_Tit {
	padding-top: 5px;
}
.MAbout_Item a {
	display: inline-block;
	border: #a8a8a8 1px solid;
	line-height: 22px;
	color: #a8a8a8;
	margin-top: 5px;
	padding-top: 0;
	padding-right: 30px;
	padding-bottom: 0;
	padding-left: 30px;
}
.MobCase {
	display: none;
}
.guest {
	display: block;
	margin: 20px auto 20px auto;
	width: 450px;
}
.guest input {
	border: 1px solid #CCC;
	outline: 0px none;
	height: 30px;
	line-height: 30px;
	text-indent: 6px;
	color: #333;
	margin-bottom: 10px;
	display: block;
	width: 450px;
}
.guest input.sub, .guest input.sub2 {
	width: 120px;
	float: left;
	cursor: pointer;
}
.guest input.sub {
	background: rgba(41,167,226,.8);
	color: #FFF;
	text-align: center;
	margin-right: 10px;
}
.guest input.sub2 {
	float: right;
}
.guest select {
	border: 1px solid #CCC;
	outline: 0px none;
	height: 30px;
	line-height: 30px;
	text-indent: 2px;
	color: #333;
	margin-bottom: 10px;
	display: block;
	width: 450px;
}
.guest_textarea {
	width: 450px;
	height: 60px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
}
.Case_Img1 {
	height: 480px;
	width: 600px;
}
.Case_Img2 {
	height: 414px;
	width: 727px;
}
.Case_Img3 {
	width: 400px;
	height: 267px;
}
.Case_Img4 {
	width: 500px;
	height: 250px;
}
.Case_Img5 {
	width: 450px;
	height: 321px;
}
.Case_Img6 {
	width: 400px;
	height: 533px;
}
.Case_Img7 {
	width: 305px;
	height: 500px;
}
.Case_Img8 {
	height: 422px;
	width: 350px;
}
.Case_Img9 {
	width: 500px;
	height: 417px;
}
.Pro_liulianl {
	float: left;
	width: 400px;
}
.Pro_liulianr {
	float: right;
	width: 400px;
}

